<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class='flex'>
<style>
    .sidebar p  {
        overflow:hidden;
        transition:0.3s ease-in-out;
        width:0;
        height: 20px;
    }
    .sidebar:hover p {
        width:12rem;
    }
</style>


   {% comment %} sidebar {% endcomment %}
    <div class="sidebar flex flex-col h-screen justify-between border-r border-gray-200">
        <div class="flex flex-col p-4 gap-4 ">
            <div class="inline-flex space-x-5 items-center justify-start px-2.5 pt-2.5 pb-10 bg-white rounded-lg">
                <img class="w-9 h-9 object-contain" src="https://cdn.discordapp.com/attachments/955898608589344778/966685050777243718/unknown.png"/>
                <p class="text-sm font-bold leading-normal text-gray-800">HELP-DESK</p>
            </div>
            {% if request.user.is_staff %} 
            <div class="inline-flex space-x-2.5 items-center justify-start p-2.5 bg-white rounded-lg hover:bg-gray-200">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="text-sm font-medium leading-normal text-gray-800">All Tickets</p>
            </div>
            <div class="inline-flex space-x-2.5 items-center justify-start p-2.5 bg-white rounded-lg hover:bg-gray-200">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23 4V10H17" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 20V14H7" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3.51 9.00001C4.01717 7.5668 4.87913 6.28542 6.01547 5.27543C7.1518 4.26545 8.52547 3.55978 10.0083 3.22427C11.4911 2.88877 13.0348 2.93436 14.4952 3.35679C15.9556 3.77922 17.2853 4.56473 18.36 5.64001L23 10M1 14L5.64 18.36C6.71475 19.4353 8.04437 20.2208 9.50481 20.6432C10.9652 21.0657 12.5089 21.1113 13.9917 20.7758C15.4745 20.4402 16.8482 19.7346 17.9845 18.7246C19.1209 17.7146 19.9828 16.4332 20.49 15" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                    
                <p class="text-sm font-medium leading-normal text-gray-800">Active Tickets</p>
            </div>
            <div class="inline-flex space-x-2.5 items-center justify-start p-2.5 bg-white rounded-lg hover:bg-gray-200">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22 12H18" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 12H2" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 6V2" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 22V18" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                    
                <p class="text-sm font-medium leading-normal text-gray-800">Open Tickets</p>
            </div>
            <div class="inline-flex space-x-2.5 items-center justify-start p-2.5 bg-white rounded-lg hover:bg-gray-200">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22 4L12 14.01L9 11.01" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="text-sm font-medium leading-normal text-gray-800">Closed Tickets</p>
            </div>
            {% endif %}
            
        </div>
        <div class='flex flex-col p-4 gap-4 '>
            <a href="/logout">
            <div class="inline-flex space-x-2.5 items-center justify-start p-2.5 bg-white rounded-lg">
                <img class="w-9 h-9 object-contain rounded-full " src="https://picsum.photos/200"/>
                <p class="text-sm font-medium leading-normal text-gray-800 flex flex-col">logout</p>
            </div>
        </a>
        </div>
    </div>

    {% if not request.user.is_staff %} 
    {% comment %} faq {% endcomment %}
    <div class="p-4 px-8  pt-48 flex flex-col border-r border-gray-200">
        <div class="flex flex-col gap-6">
            <p class="text-2xl font-bold leading-9 text-gray-800">Frequently Asked</p>
            <div class="inline-flex gap-2.5 shadow items-center justify-between w-96 p-3 bg-white rounded-lg hover:bg-gray-200">
                <p class="text-lg font-medium leading-normal text-gray-600">Start searching . . .</p>
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.8444 19.047C16.2626 19.047 19.8444 15.4652 19.8444 11.047C19.8444 6.62869 16.2626 3.04697 11.8444 3.04697C7.42608 3.04697 3.84436 6.62869 3.84436 11.047C3.84436 15.4652 7.42608 19.047 11.8444 19.047Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M21.8444 21.047L17.4944 16.697" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> 
            </div>
        </div>
        <div class="flex flex-col gap-2 mt-8 h-full ">
            <div class="inline-flex space-x-2.5 items-center justify-between w-full p-2.5 bg-white rounded-lg hover:bg-gray-200">
                <p class="text-sm font-medium leading-normal text-gray-800">All Tickets</p>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#8C79F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 16L16 12L12 8" stroke="#8C79F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8 12H16" stroke="#8C79F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="inline-flex space-x-2.5 items-center justify-between w-full p-2.5 bg-white rounded-lg hover:bg-gray-200">
                <p class="text-sm font-medium leading-normal text-gray-800">All Tickets</p>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#8C79F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 16L16 12L12 8" stroke="#8C79F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8 12H16" stroke="#8C79F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
    </div>
    {% endif %}

    {% comment %} categories  {% endcomment %}
    <div class="p-8 flex flex-col w-full">
        <div class="flex gap-4 justify-between w-full">
            <div class="flex gap-4">
                <div class="p-4 text-4xl font-semibold rounded-lg">
                    Raise Ticket
                </div>
            </div>
            <a href="/"><div class="inline-flex space-x-2.5 items-center justify-start p-2.5 py-0 bg-violet-500 rounded-lg">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.1437 18.9412L9.14374 12.9412L15.1437 6.94119" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>   
                <p class="text-lg font-bold leading-loose text-white pr-4">back</p>
            </div></a>
        </div>
        
        {% comment %} tickets {% endcomment %}
        {% comment %} {% for ticket in tickets  %} {% endcomment %}
        <form method="POST" class="h-full">
            {% csrf_token %}
        <div class="flex flex-col gap-8 pt-8 text-gray-900 justify-center h-full">
            <div class="flex gap-8">
                <div class="text-gray-400 flex gap-2 flex-col w-full">
                    <div class="font-semibold">Subject</div>
                    <input required class='text-gray-900 shadow-xl p-8 inline-flex text-xl gap-2.5 shadow items-center justify-between p-3 bg-white rounded-lg hover:bg-gray-200' placeholder="Type a short subject" type="text" name="subject"/>
                </div>
                <div class="text-gray-400 flex gap-2 flex-col">
                    <div class="font-semibold">Category</div>
                    <select required class='category capitalize text-gray-900 shadow-xl p-8 inline-flex text-xl gap-2.5 shadow items-center justify-between p-3 bg-white rounded-lg hover:bg-gray-200' placeholder="Type a short subject" type="text" name="category">
                        <option selected disabled>select category</option>
                        {% for category,pr in categories.items %}
                        <option  value="{{category}}">{{category}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
           
            <div class="text-gray-400 flex gap-2 flex-col">
                <div class="font-semibold">Description</div>
                <textarea required class='text-gray-900 shadow-xl p-8 inline-flex text-xl h-48 gap-2.5 shadow items-center justify-between p-3 bg-white rounded-lg hover:bg-gray-200' placeholder="Describe your issue in brief...." type="text" name="description"></textarea>
            </div>
            <div class="flex gap-8">
            <div class="text-gray-400 flex gap-2 flex-col">
                <div class="font-semibold">Attachments (if any)</div>
                <input class='text-gray-900 shadow-xl p-8 inline-flex text-xl gap-2.5 shadow items-center justify-between p-3 bg-white rounded-lg hover:bg-gray-200' placeholder="Describe your issue in brief...." type="file" name="file"></textarea>
            </div>
            <div class="text-gray-400 flex gap-2 flex-col">
                <div class="font-semibold">Priority</div>
                <select required class='priority text-gray-900 shadow-xl p-8 inline-flex text-xl gap-2.5 shadow items-center justify-between p-3 bg-white rounded-lg hover:bg-gray-200' placeholder="Type a short subject" type="text" name="priority">
                    <option selected disabled>select priority</option>
                    <option value="high">high</option>
                    <option value="medium">medium</option>
                    <option selected value="low">low</option>
                </select>
            </div>
        </div>
           
            <div class="w-full flex items-center justify-center">
                <button type="submit" class=" max-w-2xl  bg-violet-500 text-2xl text-gray-100 p-4 w-full rounded-full tracking-wide
                                font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-indigo-600
                                shadow-lg">
                                    Raise Ticket
                                </button>
            </div>
            
        </div>
    </form>
        {% comment %} {% endfor %} {% endcomment %}
      
    </div>

    <script type="text/javascript"> 
        function changePriority(){
            for (let child in document.querySelector('.priority').children){
                child.selected=false
                if (child.value == priorities[document.querySelector('.category').value]){
                    child.selected = true
                }
            }

        }
     </script>
</body>
</html>