<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>


</head>
<body class='flex overflow-y-hidden'>
<style>
    .sidebar p  {
        overflow:hidden;
        transition:0.3s ease-in-out;
        width:0;
        height: 20px;
    }
    .sidebar:hover p {
        width:12rem;
    }
    ::-webkit-scrollbar {
        display: none;
      }

    .high {
        background:#FDEDEE;
    }
    .medium {
        background:#ADC7FF;
    }
    .low{
        background:#DDFFEE;
    }
</style>


   {% comment %} sidebar {% endcomment %}
   <div class="sidebar flex flex-col h-screen justify-between border-r border-gray-200">
    <div class="flex flex-col p-4 gap-4 ">
        <div class="inline-flex space-x-5 items-center justify-start px-2.5 pt-2.5 pb-10 bg-white rounded-lg">
            <img class="w-9 h-9 object-contain" src="https://cdn.discordapp.com/attachments/955898608589344778/966685050777243718/unknown.png"/>
            <p class="text-sm font-bold leading-normal text-gray-800">N-GAGE</p>
        </div>
        {% if request.user.is_staff %} 
        <a href="/">
        <div class="inline-flex space-x-2.5 items-center justify-between p-2.5 bg-white rounded-lg hover:bg-gray-200">
            <div class="flex gap-2.5">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-sm font-medium leading-normal text-gray-800">All Tickets</p>
        </div>
        <div>{{total}}</div>
        </div>
    </a>
        <div class="inline-flex space-x-2.5 items-center justify-start p-2.5 bg-white rounded-lg hover:bg-gray-200">
            <div class="flex gap-2.5">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23 4V10H17" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 20V14H7" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.51 9.00001C4.01717 7.5668 4.87913 6.28542 6.01547 5.27543C7.1518 4.26545 8.52547 3.55978 10.0083 3.22427C11.4911 2.88877 13.0348 2.93436 14.4952 3.35679C15.9556 3.77922 17.2853 4.56473 18.36 5.64001L23 10M1 14L5.64 18.36C6.71475 19.4353 8.04437 20.2208 9.50481 20.6432C10.9652 21.0657 12.5089 21.1113 13.9917 20.7758C15.4745 20.4402 16.8482 19.7346 17.9845 18.7246C19.1209 17.7146 19.9828 16.4332 20.49 15" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                    
            <p class="text-sm font-medium leading-normal text-gray-800">Active Tickets</p>
        </div>
        <div>{{active}}</div>
        </div>
        <div class="inline-flex space-x-2.5 items-center justify-start p-2.5 bg-white rounded-lg hover:bg-gray-200">
            <div class="flex gap-2.5">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22 12H18" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6 12H2" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 6V2" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 22V18" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                    
            <p class="text-sm font-medium leading-normal text-gray-800">Open Tickets</p>
        </div>
        <div>{{open}}</div>
        </div>
        <div class="inline-flex space-x-2.5 items-center justify-start p-2.5 bg-white rounded-lg hover:bg-gray-200">
            <div class="flex gap-2.5">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22 4L12 14.01L9 11.01" stroke="#1F2937" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-sm font-medium leading-normal text-gray-800">Closed Tickets</p>
        </div>
        <div>{{closed}}</div>
        </div>
        {% endif %}
        
    </div>
    <div class='flex flex-col p-4 gap-4 '>
        <a href="/logout">
        <div class="inline-flex space-x-2.5 items-center justify-start p-2.5 bg-white rounded-lg">
            <img class="w-9 h-9 object-contain rounded-full " src="https://picsum.photos/200"/>
            <p class="text-sm font-medium leading-normal text-gray-800 flex flex-col">logout</p>
        </div>
    </a>
    </div>
</div>

    <div class="p-8 flex  w-full h-screen p-4 gap-4">
        <div class="flex flex-col gap-6 h-full w-full">
            <div class="flex h-full flex-col p-4 justify-between shadow shadow-xl hover:shadow-2xl cursor-pointer gap-4 rounded-xl">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.29114 3.7384H20.2911C20.8216 3.7384 21.3303 3.94912 21.7054 4.32419C22.0804 4.69926 22.2911 5.20797 22.2911 5.7384V11.7384C22.2911 14.3906 21.2376 16.9341 19.3622 18.8095C17.4868 20.6848 14.9433 21.7384 12.2911 21.7384C10.9779 21.7384 9.67757 21.4797 8.46431 20.9772C7.25105 20.4747 6.14866 19.7381 5.22008 18.8095C3.34471 16.9341 2.29114 14.3906 2.29114 11.7384V5.7384C2.29114 5.20797 2.50186 4.69926 2.87693 4.32419C3.252 3.94912 3.76071 3.7384 4.29114 3.7384V3.7384Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.29114 10.7384L12.2911 14.7384L16.2911 10.7384" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span class='font-semibold'>Ticket #{{ticket.id}} - {{ticket.author}} </span>     
                    </div>
                    <div class="font-semibold text-gray-500">{{ticket.date}}</div>
                </div>
                <div class="flex flex-col">
                    <div class="text-2xl font-bold">{{ticket.subject}}</div>
                    <div class="font-semibold text-gray-500">
                        {{ticket.description}}
                    </div>
                </div>

                {% if request.user.is_staff %} 
                <form class="flex justify-between items-center" method="POST">
                    {% csrf_token %}--
                    <div class="flex gap-4">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="15" fill="#E7E7E7"/>
                            <path d="M20.3333 21V19.6667C20.3333 18.9594 20.0524 18.2811 19.5523 17.781C19.0522 17.281 18.3739 17 17.6667 17H12.3333C11.6261 17 10.9478 17.281 10.4477 17.781C9.94762 18.2811 9.66667 18.9594 9.66667 19.6667V21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15 14.3333C16.4728 14.3333 17.6667 13.1394 17.6667 11.6667C17.6667 10.1939 16.4728 9 15 9C13.5272 9 12.3333 10.1939 12.3333 11.6667C12.3333 13.1394 13.5272 14.3333 15 14.3333Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span class="font-semibold">{{ticket.category}}</span>
                    </div>
                    <div class="flex items-center gap-4">
                        <div class="text-lg font-semibold">
                            {% comment %} {{ticket.status}} {% endcomment %}
                            <select required class='priority text-gray-900 inline-flex  gap-2.5 items-center justify-between p-3 bg-white rounded-lg hover:bg-gray-200' placeholder="Type a short subject" type="text" name="status">
                                <option value="{{stArr.0}}">{{stArr.0}}</option>
                                <option value="{{stArr.1}}">{{stArr.1}}</option>
                                <option selected value="{{stArr.2}}">{{stArr.2}}</option>
                                
                            </select>
                        </div>
                    <div class="inline-flex gap-2 items-center justify-start px-2.5 py-1 {{ticket.priority}} rounded-full">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 10C10.5773 10 12.6667 7.91068 12.6667 5.33335C12.6667 2.75602 10.5773 0.666687 8 0.666687C5.42267 0.666687 3.33333 2.75602 3.33333 5.33335C3.33333 7.91068 5.42267 10 8 10Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.47334 9.26002L4.66667 15.3334L8 13.3334L11.3333 15.3334L10.5267 9.25336" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                            
                        <div class="text-gray-400 flex gap-2 flex-col">
                            {% comment %} <div class="font-semibold">Priority</div> {% endcomment %}
                            <select required class='priority text-gray-900 inline-flex  gap-2.5 items-center justify-between p-3 bg-white rounded-lg hover:bg-gray-200' placeholder="Type a short subject" type="text" name="priority">
                                <option value="{{prArr.0}}">{{prArr.0}}</option>
                                <option value="{{prArr.1}}">{{prArr.1}}</option>
                                <option selected value="{{prArr.2}}">{{prArr.2}}</option>
                                
                            </select>
                        </div>
                    </div>
                    <input type="text" class="hidden" name="id" value="{{ticket.id}}"/>
                    <button type="submit" class='priority text-white font-semibold shadow-xl inline-flex  gap-2.5  items-center justify-between p-3 bg-white rounded-lg bg-violet-600'>
                        Save                        
                    </button>

                </form>
                {% else %}
                <div class="flex justify-between">
                    <div class="flex gap-4">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="15" fill="#E7E7E7"/>
                            <path d="M20.3333 21V19.6667C20.3333 18.9594 20.0524 18.2811 19.5523 17.781C19.0522 17.281 18.3739 17 17.6667 17H12.3333C11.6261 17 10.9478 17.281 10.4477 17.781C9.94762 18.2811 9.66667 18.9594 9.66667 19.6667V21" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15 14.3333C16.4728 14.3333 17.6667 13.1394 17.6667 11.6667C17.6667 10.1939 16.4728 9 15 9C13.5272 9 12.3333 10.1939 12.3333 11.6667C12.3333 13.1394 13.5272 14.3333 15 14.3333Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span class="font-semibold">{{ticket.category}}</span>
                    </div>
                    <div class="flex items-center gap-4"><div class="text-lg font-semibold">{{ticket.status}}</div><div class="inline-flex gap-2 items-center justify-start px-2.5 py-1 {{ticket.priority}} rounded-full">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 10C10.5773 10 12.6667 7.91068 12.6667 5.33335C12.6667 2.75602 10.5773 0.666687 8 0.666687C5.42267 0.666687 3.33333 2.75602 3.33333 5.33335C3.33333 7.91068 5.42267 10 8 10Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.47334 9.26002L4.66667 15.3334L8 13.3334L11.3333 15.3334L10.5267 9.25336" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                            
                        <p class="text-sm font-medium leading-none text-gray-800 ">{{ticket.priority}} priority</p>
                    </div>
                </div>
                {% endif %}
                </div>
            </div>            
        </div>
{% comment %} chat {% endcomment %}

    <script>
        $(document).ready(function(){
        
        let x = setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "/getMessages/{{room}}/",
                success: function(response){
                    $(".display").empty();
                    for (var key in response.messages)
                    {
                        let da = new Date(response.messages[key].date)
                        let time  = da.toLocaleTimeString();
                        let date = da.toLocaleDateString();
                        if (response.messages[key].user=='{{request.user}}'){
                        var temp="<div class='container darker text-right '><b>"+'you'+"</b><p>"+response.messages[key].value+"</p><span class='time-left text-sm text-gray-400'>"+date+" "+time+"</span></div>";
                        $(".display").append(temp);
                    }
                    else {
                        var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-left text-sm text-gray-400'>"+date+" "+time+"</span></div>";
                        $(".display").append(temp);

                    }
                    }
                },
                error: function(response){
                   clearInterval(x)
                }
            });
        },1000);
        })
        </script>
        
        <div class="flex flex-col gap-6 h-full w-full ">
            <div class="flex h-full flex-col p-4 justify-between shadow shadow-xl hover:shadow-2xl cursor-pointer gap-4 rounded-xl">
                <div class="display flex flex-col gap-8 overflow-y-scroll">

                </div>
                <form id="post-form" action="" class='flex gap-4' method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="room_id" id="room_id" value="{{ticket.id}}"/>
                    <input type="hidden" name="username" id="username" value="{{request.user}}" />
                    <input type="text" placeholder="type your message here..." class='priority text-gray-900 inline-flex  gap-2.5 items-center justify-between p-3 bg-white rounded-lg bg-gray-200 w-full' name="message" id="message"/>
                    <button type="submit" class='priority text-white font-semibold shadow-xl inline-flex  gap-2.5  items-center justify-between p-3 bg-white rounded-lg bg-green-600'>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.3926 2.95264L11.3926 13.9526" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.3926 2.95264L15.3926 22.9526L11.3926 13.9526L2.39264 9.95264L22.3926 2.95264Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                            
                    </button>
                </form>
                

                
            </div>            
        </div>
        
       
    </div>

    <script type="text/javascript">
        $(document).on('submit','#post-form',function(e){
          e.preventDefault();
      
          $.ajax({
            type:'POST',
            url:'/send',
            data:{
                username:$('#username').val(),
                room_id:$('#room_id').val(),
                message:$('#message').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
               //alert(data)
            }
          });
          document.getElementById('message').value = ''
        });
      </script>
</body>
</html>